apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
  labels:
    app: hello
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
        ghostkube.io/service: "auth-service"
    spec:
      containers:
        - name: nginx
          image: nginx:stable
          ports:
            - containerPort: 80